h1,div,button{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
h2{
  margin-bottom: 5px;
}
.seats{
  background-color: #F7F5F9;
  padding-top: 95px;
}
.seatsChoiceHeader{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 46px;
}
.seatsTrains{
  display: flex;
  justify-content: center;
  padding-bottom: 143px;
}
.seatsChoiceTrainTo{
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.seatsChoice{
  width: 959px;
  margin-left: 83px;
  display: flex;
  flex-direction: column;

}
.trainToOtherTrain{
  padding-left: 19px;
  height: 128px;
  display: flex;
  align-items: center;
}
.trainToOtherTrainIcon{
  background-image: url(../../img/icons/departure_arrow_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 76px;
  height: 60px;
  margin-right: 10px;
}
.trainToOtherTrainBtn{
  width: 323px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background-color: #FFFFFF;
  border: black solid 1px;
  border-radius: 5px;
}
.trainToTimeInfo{
  height: 125px;
  background-color: #F7F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px 0 35px;
}
.trainToTimeInfoIcon{
  background-image: url(../../img/icons/train_incolor_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.seatsFromVector{
  width:30px;
  height: 20px;
  background-image: url('../../img/icons/vectorTo_icon.png');
  background-repeat: no-repeat;
  background-position: contain;
  margin-top: 7px;
}
.seatsDuration{
  display: flex;
}
.seatsDurationIcon{
  width:30px;
  height: 30px;
  background-image: url('../../img/icons/clockFace_icon.png');
  background-repeat: no-repeat;
  background-position: contain;
  margin-top: 7px;
  margin-right: 5px;
}
.seatsRailway{
 color: #928F94;
 font-size: 16px;
}
.seatsDepartInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 35px;
  border-left: solid 1px white;
}
.seatsArriveInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 35px;
  border-right: solid 1px white;
}
.trainToQuantityTicketsWrap{
  display: flex;
  margin-bottom: 49px;
}

.trainToQuantityTicketsAge{
  height: 196px;
  padding: 20px 35px 20px 30px;
}
.trainToQuantityTicketsAge:hover{
  outline:1px solid #FFA800;

}
.trainToQuantityTicketsHeader{
  padding-left: 19px;
  margin-top: 40px;
}
.trainToQuantityTicketsAgeDescrip{
  margin-top: 23px;
  width: 240px;
  font-weight: 400;
  font-size: 16px;
}
.trainToQuantityTicketsAgeDescripChild{
  color: #C4C4C4;
}
.trainToWagonsItem{
  color: #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trainToWagonsItem:hover{
  cursor: pointer;
}
.trainToWagonType{
  border-top: 1px solid #928F94;
}

.trainToWagons{
  display: flex;
  padding-left: 35px;
  justify-content: space-evenly;
}
.trainToWagons .first{
  background-image: url(../../../src/img/icons/wagonTypes/firstClassType_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.trainToWagons .second {
  background-image: url(../../../src/img/icons/wagonTypes/secondClassType_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.trainToWagons .third {
  background-image: url(../../../src/img/icons/wagonTypes/thirdClassType_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.trainToWagons .fourth {
  background-image: url(../../../src/img/icons/wagonTypes/fourthClassType_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.activeWagonsItem{
  filter: brightness(0) saturate(100%) invert(91%) sepia(91%) saturate(6930%) hue-rotate(311deg) brightness(103%) contrast(102%);
}
.trainToWagonChoose{
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px 0 34px;  
  background-color:  rgba(255, 168, 0, 0.44);

}
.trainToWagonChooseItem{
  margin-left: 15px;
  font-size: 24px;
  font-weight: 700;
}
.trainToWagonChooseItem:hover{
  cursor: pointer;
}
.activeWagonItem {
  color:white
}
.trainToWagonInfo{
  display: flex;
  justify-content: space-between;
}
.trainToWagonInfo h3{
  margin-bottom: 20px;
  color: #928F94;
  font-size: 18px;
  font-weight: 400;
}
.trainToWagonInfo h3 span{
  color: black;
}
.trainToWagonInfoNumHead{
  font-size: 72px;
  font-weight: 700;
}
.trainToWagonInfoNumDescrip,
.trainToWagonInfoSeats p,
.trainToWagonInfoPrice p{
  font-size: 24px;
  font-weight: 400;
}
.trainToWagonInfoSeats p span {
  font-size: 24px;
  font-weight: 700;
}
.trainToWagonInfoPrice p span {
  font-size: 24px;
  color: #928F94;
}
.trainToWagonInfoNum{
  padding: 30px 50px 30px 30px;
  width: 190px;
  height: 160px;
  background-color:#FFD98F;
}
.trainToWagonInfoServise{
  display: flex;
  flex-direction: column;
  padding-right: 59px;
  align-items: center;
}
.trainToWagonInfoServiseFacilities{
  display: flex;
  justify-content: space-between;
}
.trainToWagonInfoServiseFacilitiesWifi{
  appearance: none;
  background-color: transparent;
  background-image: url(../../../src/img/icons/wagonFacilities/wifi-service.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesAir{
  appearance: none;
  background-color: transparent;
  background-image: url(../../../src/img/icons/wagonFacilities/air-service.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesTea{
  appearance: none;
  background-color: transparent;
  background-image: url(../../../src/img/icons/wagonFacilities/food-service.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesLinen {
  appearance: none;
  background-color: transparent;
  background-image: url(../../../src/img/icons/wagonFacilities/linen-service.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesWifi:hover,
.trainToWagonInfoServiseFacilitiesAir:hover,
.trainToWagonInfoServiseFacilitiesTea:hover,
.trainToWagonInfoServiseFacilitiesLinen:hover {
  cursor: pointer;
  background-color: #FFA800;
}
.trainToWagonInfoServiseFacilitiesWifi:disabled{
  appearance: none;
  background-color:#FCDC9D;
  background-image: url(../../../src/img/icons/wagonFacilities/wifi-service-disable.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  border: none;
  height: 34px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesAir:disabled{
  appearance: none;
  background-color: #FCDC9D;
  background-image: url(../../../src/img/icons/wagonFacilities/air-service-disable.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  border: none;
  height: 34px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesTea:disabled{
  appearance: none;
  background-color: #FCDC9D;
  background-image: url(../../../src/img/icons/wagonFacilities/food-service-disable.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  border: none;
  height: 34px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesLinen:disabled{
  appearance: none;
  background-color: #FCDC9D;
  background-image: url(../../../src/img/icons/wagonFacilities/linen-service-disable.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesWifi.activeWagonFacility{
  appearance: none;
  background-color:#FFA800;
  background-image: url(../../../src/img/icons/wagonFacilities/wifi-service-active.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  border: none;
  height: 34px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesAir.activeWagonFacility{
  appearance: none;
  background-color: #FFA800;
  background-image: url(../../../src/img/icons/wagonFacilities/air-service-active.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesTea.activeWagonFacility{
  appearance: none;
  background-color: #FFA800;
  background-image: url(../../../src/img/icons/wagonFacilities/food-service-active.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesLinen.activeWagonFacility{
  appearance: none;
  background-color: #FFA800;
  background-image: url(../../../src/img/icons/wagonFacilities/linen-service-active.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 34px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}
.trainToWagonInfoServiseFacilitiesWifi,
.trainToWagonInfoServiseFacilitiesAir,
.trainToWagonInfoServiseFacilitiesTea{
  margin-right: 5px;
}