.vidget_container{
  background-color: rgba(41, 41, 41, 0.8);
  width: 100%;
  max-width: 729px;
  height: 574px;
  padding: 79px 24px 60px 21px;
}
.vidget_container_alt{
  background-color: rgba(41, 41, 41, 0.8);
  width: 100%;
  max-width: 1490px;
  padding: 28px 44px 76px 44px;
}

.vidget_input_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.vidget_input_container_alt{
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.form_find_ticket{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn_find_ticket{
  width: 323px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background-color:rgba(255, 168, 0, 1);
  border: rgba(255, 168, 0, 1) solid 1px;
  border-radius: 5px;
  margin-top: 35px;
}
.input_direction,
.input_date{
  width: 325px;
  height: 60px;
  padding: 0 0 0 30px;
  border: 1px solid rgba(41, 41, 41, 0.8);
  border-radius: 3px;
  font-size: 18px;
}
.input_direction_from_wrap,
.input_direction_to_wrap,
.input_date_from_wrap,
.input_date_to_wrap{
  position: relative;
}
.input_date_from_wrap{
  margin-right: 35px;
}
.input_date_from_wrap_dp::before,
.input_date_to_wrap_dp::before{
  content:url(../../img/icons/calendar_icon.png);
}
.input_direction::placeholder{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #E5E5E5;
}
.input_date::placeholder{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #E5E5E5;
  text-transform: uppercase;
}
.input_direction_from_dp{
position: relative;
}
.direction_wrap,
.date_wrap{
  display: flex;
  justify-content: space-between;
}
.icon_change{
  background-image: url(../../img/icons/change_icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: all 1s;
}
.btn_change_direction{
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}
.vidget_direction_title{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0 0 7px 0;
}
.vidget_btn_wrap{
  display: flex;
  justify-content: end;
}
.icon_change:hover{
  transform: rotate(360deg);
}
.btn_find_ticket:hover{
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn_find_ticket:active{
  background-color: rgba(255, 168, 0, 0);
  color: rgba(255, 168, 0, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
