.wagonFourthWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wagonFourth{
  align-self: center;
  position: relative;
  background-image: url(../../../../img/wagonClasses/wagonClassFourth.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 920px;
  height: 145px;

}
.wagonFourthNumCoach{
  position: absolute;
  padding: 0;
  width: 33px;
  height: 25px;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  padding: 0;
  top:0px;
  left: 40px;
}
.wagonFourthNum{
  position: absolute;
  width: 27px;
  height: 20x;
  border: none;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
}
.wagonFourthNum:not(:disabled):hover{
  cursor: pointer;
  outline: 1px solid #FFA800;
}
.wagonFourthNum:disabled{
  background-color: #918F94;
  color: white;
}
.wagonFourthPrice{
  margin-top: 19px;
  padding-right: 25px;
  align-self: flex-end;
  color: #FFA800;
  font-size: 24px;
  font-weight: 700;
}
.wagonFourthPrice span{
  font-weight: 400;
  color: #928F94;
}
.wagonFourthNumAdded{
  outline: 1px solid #FFA800;
}